<nav class="navbar navbar-expand-lg bg-primary">
  
 <% if user_signed_in? %> 
  <div class="container-fluid">
  	 <%= link_to 'Digitales Zuhause', mitteilungens_path, class:"navbar-brand text-white"  %>

     <%else%>

   <div class="container-fluid">
     <%= link_to 'Digitales Zuhause', new_user_session_path, class:"navbar-brand text-white"  %>

     <%end%>

    <ul class="nav navbar-nav navbar-right">

 

     <% if user_signed_in? %>  

      <li class="nav-item">
        <%= link_to "Mitteilungen", mitteilungens_path, class:"btn btn-primary text-white" %>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
            Profil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "Mutter", home_ProfilMutter_path, class:"dropdown-item" %>
              </li>
            <li>
              <%= link_to "Kind", home_profilKind_path, class:"dropdown-item" %>
              </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to "Abmelden", destroy_user_session_path, method: :delete, class:"dropdown-item"
              %>
              </li>
            <li class="nav-item">
             <%= link_to "Passwortverwaltung", edit_user_registration_path, class:"dropdown-item" %>
            </li>

              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




          </ul>
        </li>

    
    <a class="navbar-brand" href="http://localhost:3000/zugiffsberechtigungens/1">
    <%= image_tag "settings.png", alt:"", width:"30", height:"24"%> 
  </a>
 
    

      

      <% else %>
      <li class="nav-item">
        <%= button_to "Anmelden", new_user_session_path, class:"btn btn-primary text-white" %>
      </li>

      <% end %>


          

 </ul>
</div>
</nav>