<%= form_with(model: profil) do |form| %>
  <% if profil.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profil.errors.count, "error") %> prohibited this profil from being saved:</h2>

      <ul>
        <% profil.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vorname, style: "display: block form-group" %>
    <%= form.text_field :vorname, class:"form-control" %>


  </div>

  <div>
    <%= form.label :nachname, style: "display: block form-group" %>
    <%= form.text_field :nachname, class:"form-control" %>
  </div>

  <div>
    <%= form.label :geburtsdatum, style: "display: block form-group" %>
    <%= form.text_field :geburtsdatum, class:"form-control" %>
  </div>

  <div>
    <%= form.label :geschlecht, style: "display: block form-group" %>

    <%= form.text_field :geschlecht, class:"form-control" %>

      
    
  </div>

  <div>
    <%= form.label :wohnort, style: "display: block form-group" %>
    <%= form.text_field :wohnort, class:"form-control" %>
  </div>

  <div>
    <%= form.label :postleitzahl, style: "display: block form-group" %>
    <%= form.text_field :postleitzahl, class:"form-control"%>
  </div>

  <div>
    <%= form.label :straße, style: "display: block form-group" %>
    <%= form.text_field :straße, class:"form-control"%>
  </div>

  <div>
    <%= form.label :hausnummer, style: "display: block form-group" %>
    <%= form.text_field :hausnummer, class:"form-control" %>
  </div>

  <div>
    <%= form.label :string, style: "display: block form-group" %>
    <%= form.text_field :string, class:"form-control" %>
  </div>

  <div>
    <%= form.label :verknüpfteKonten, style: "display: block form-group" %>
    <%= form.text_field :verknüpfteKonten, class:"form-control" %>
  </div>
  

  <div>
    <%= form.label :steuerID, style: "display: block form-group" %>
    <%= form.text_field :steuerID, class:"form-control" %>
  </div>
</br>

  <div>
    <%= link_to "Änderung abschicken", edit_profil_path(@profil), class:"btn btn-primary" %> 
  </div>
<% end %>
