<div id="<%= dom_id profil %>">

<div class="jumbotron">
  <h1 class="display-4"><%= profil.vorname %>
    <%= profil.nachname %>
  </h1>
  <p class="lead">
    <strong>Geburtsdatum:</strong>
    <%= profil.geburtsdatum %>


  <strong>Geschlecht:</strong>
    <%= profil.geschlecht %>
  </p>
  <hr class="my-4">
  <p>
   <strong>Postleitzahl:</strong>
    <%= profil.postleitzahl %>
   

<strong>Wohnort:</strong>
    <%= profil.wohnort %>

</p>


<p>
    <strong>Straße:</strong>
    <%= profil.straße %>

    <strong>Hausnummer:</strong>
    <%= profil.hausnummer %>
  </p>


<hr class="my-4">
  <p>
    <strong>Verknüpftekonten:</strong>
    <%= profil.verknüpfteKonten %>

    <strong>Steuerid:</strong>
    <%= profil.steuerID %>
  </p>

</div>
