<div id="<%= dom_id profil %>">

<div class="jumbotron">
  <h1 class="display-4"><%= profil.vorname %>
    <%= profil.nachname %>
  </h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

</div>

  

  <p>
    <strong>Geburtsdatum:</strong>
    <%= profil.geburtsdatum %>
  </p>

  <p>
    <strong>Geschlecht:</strong>
    <%= profil.geschlecht %>
  </p>

  <p>
    <strong>Wohnort:</strong>
    <%= profil.wohnort %>
  </p>

  <p>
    <strong>Postleitzahl:</strong>
    <%= profil.postleitzahl %>
  </p>

  <p>
    <strong>Straße:</strong>
    <%= profil.straße %>
  </p>

  <p>
    <strong>Hausnummer:</strong>
    <%= profil.hausnummer %>
  </p>

  <p>
    <strong>String:</strong>
    <%= profil.string %>
  </p>

  <p>
    <strong>Verknüpftekonten:</strong>
    <%= profil.verknüpfteKonten %>
  </p>

  <p>
    <strong>Steuerid:</strong>
    <%= profil.steuerID %>
  </p>

</div>
