<div id="<%= dom_id profil %>">
  <p>
    <strong>Vorname:</strong>
    <%= profil.vorname %>
  </p>

  <p>
    <strong>Nachname:</strong>
    <%= profil.nachname %>
  </p>

  <p>
    <strong>Geburtsdatum:</strong>
    <%= profil.geburtsdatum %>
  </p>

  <p>
    <strong>Geschlecht:</strong>
    <%= profil.geschlecht %>
  </p>

  <p>
    <strong>Wohnort:</strong>
    <%= profil.wohnort %>
  </p>

  <p>
    <strong>Postleitzahl:</strong>
    <%= profil.postleitzahl %>
  </p>

  <p>
    <strong>Straße:</strong>
    <%= profil.straße %>
  </p>

  <p>
    <strong>Hausnummer:</strong>
    <%= profil.hausnummer %>
  </p>

  <p>
    <strong>String:</strong>
    <%= profil.string %>
  </p>

  <p>
    <strong>Verknüpftekonten:</strong>
    <%= profil.verknüpfteKonten %>
  </p>

  <p>
    <strong>Steuerid:</strong>
    <%= profil.steuerID %>
  </p>

</div>
