<%= form_with(model: zugiffsberechtigungen) do |form| %>
  <% if zugiffsberechtigungen.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(zugiffsberechtigungen.errors.count, "error") %> prohibited this zugiffsberechtigungen from being saved:</h2>

      <ul>
        <% zugiffsberechtigungen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :krankenhaus, style: "display: block" %>
    <%= form.check_box :krankenhaus %>
  </div>

  <div>
    <%= form.label :elternkasse, style: "display: block" %>
    <%= form.check_box :elternkasse %>
  </div>

  <div>
    <%= form.label :familienkasse, style: "display: block" %>
    <%= form.check_box :familienkasse %>
  </div>

  <div>
    <%= form.label :standesamt, style: "display: block" %>
    <%= form.check_box :standesamt %>
  </div>

  <div>
    <%= form.label :bZST, style: "display: block" %>
    <%= form.check_box :bZST %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
