<div id="<%= dom_id zugiffsberechtigungen %>">

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
  <label class="form-check-label" for="flexCheckDefault">
    
    <p>
    <strong>Krankenhaus:</strong>
    <%= zugiffsberechtigungen.krankenhaus %>
  </p>


  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    
<p>
    <strong>Elternkasse:</strong>
    <%= zugiffsberechtigungen.elternkasse %>
  </p>

  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    
<p>
    <strong>Familienkasse:</strong>
    <%= zugiffsberechtigungen.familienkasse %>
  </p>

  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    
<p>
    <strong>Standesamt:</strong>
    <%= zugiffsberechtigungen.standesamt %>
  </p>

  </label>
</div>  
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    
<p>
    <strong>Bzst:</strong>
    <%= zugiffsberechtigungen.bZST %>
  </p>

  </label>
</div>

</div>
