<div id="<%= dom_id zugiffsberechtigungen %>">
  <p>
    <strong>Krankenhaus:</strong>
    <%= zugiffsberechtigungen.krankenhaus %>
  </p>

  <p>
    <strong>Elternkasse:</strong>
    <%= zugiffsberechtigungen.elternkasse %>
  </p>

  <p>
    <strong>Familienkasse:</strong>
    <%= zugiffsberechtigungen.familienkasse %>
  </p>

  <p>
    <strong>Standesamt:</strong>
    <%= zugiffsberechtigungen.standesamt %>
  </p>

  <p>
    <strong>Bzst:</strong>
    <%= zugiffsberechtigungen.bZST %>
  </p>

</div>
