<p style="color: green"><%= notice %></p>

<%= render @zugiffsberechtigungen %>

<div>
  <%= link_to "Edit this zugiffsberechtigungen", edit_zugiffsberechtigungen_path(@zugiffsberechtigungen) %> |
  <%= link_to "Back to zugiffsberechtigungens", zugiffsberechtigungens_path %>

  <%= button_to "Destroy this zugiffsberechtigungen", @zugiffsberechtigungen, method: :delete %>
</div>
